/**
 * CSS for admin pages of the blogfoster Traffic Tracker plugin.
 *
 */

/**
 * Imports
 */
@import url(http://fonts.googleapis.com/css?family=Reenie+Beanie|Cookie);
 
 /**
 * Layout
 */
 
.bftt_wrapper {
	overflow: hidden;
}
#bftt_main {
	float: left;
	width: 66%;
}
#bftt_footer {
	float: right;
	width: 33%;
}
#bftt_main .bftt_content {
	margin: 2em 1em 1em 0;
}
#bftt_footer .bftt_content {
	margin: 2em 0 1em 1em;
}
body.rtl #bftt_main {
	float: right;
	width: 66%;
}
body.rtl #bftt_footer {
	float: left;
	width: 33%;
}
body.rtl #bftt_main .bftt_content {
	margin: 2em 0 1em 1em;
}
body.rtl #bftt_footer .bftt_content {
	margin: 2em 1em 1em 0;
}

/* If auto-folding of the admin menu */
@media only screen and (max-width: 900px) {
	/* dissolve floating */
	#bftt_main,
	#bftt_footer,
	#bftt_main .bftt_content,
	#bftt_footer .bftt_content {
		float: none;
		width: auto;
		margin: 0;
	}
}

/**
* Elements
*/
.bftt_logo {
	font-family: "Cookie";
	font-size: 1.88em;
}